* {
  box-sizing: border-box;
}

h1 {
  font-size: 4rem;
  background-color: blue;
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  margin: 2rem;
}

div {
  color: black;
  text-align: center;
}

p {
  font-size: 1.75rem;
  margin: 0;
}

.padding > p {
  /* padding-inline: 100px;
  padding-block: 50px; */

  padding: 50px 100px 50px 100px;

  background-color: red;
  color: white;
}

.border > p {
  /* border-width: 5px;
  border-style: solid;
  border-color: red; */

  /* border-block-start: 5px solid red;
  border-block-end: 5px solid red;
  border-inline-start: 5px solid red;
  border-inline-end: 5px solid red; */

  border: 5px solid red;
  padding: 50px;
  color: black;
}

.margin > p {
  /* margin-inline: 100px;
  margin-block: 50px; */

  margin: 50px 100px 50px 100px;

  background-color: red;
  color: white;
}

.selector {
  background-color: blue;
  color: white;
  padding: 20px;
}

.tag {
  color: yellow;
}

section {
  background-color: blueviolet;
  margin-block: 20px;
  color: #fff;
  padding: 20px;
}

section.main p {
  color: aqua;
}

a {
  color: aqua;
}

a:hover {
  color: #fff;
}

a:focus {
  color: black;
}

.main:hover {
  background-color: yellow;
  cursor: pointer;
}

ul {
  /* list-style-type: square; */
}

ul ::marker {
  content: "❤️️";
}

.bg {
  background-image: url("../../images/bouldering-gym.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 300px;
}
